.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

/* サイドバー上部 */
.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room a {
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}

/* サイドバー下部 */
.chat-rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

/* メインチャット */

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

/* メインヘッダー */

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  color: darkred;
  border: 1px solid darkred;
  text-decoration: none;
  padding: 20px;
}

/* チャット画面 */

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat {
  margin: 10px 0 0 0;
}

.upper-chat {
  display: flex;
}

.chat-user {
  font-size: 16px;
  color: #434a54;
}

.chat-time {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower-chat {
  margin-top: 10px;
}

.chat-message {
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

/* チャット送信フォーム */

.chat-form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.message-form {
  background-color: white;
  display: flex;
  width: 100%;
}

.text-form {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  font-size: 16px;
  color: white;
  margin-left: 15px;
  padding: 0 20px;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}